.sidebar{
 position: fixed;
 top:55px;
 left: 0;
 bottom: 0;
 background-color:white;
width: 100px;
margin-left: 0;
z-index: 100;
padding-top: 5px;
 }
 .sider-link{
font-family: roboto,arial;

 }
 .sider-link{
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .sider-link:hover{

  background-color: rgb(211, 211, 211);
 }
 .sider-link img{
  height: 26px;
  margin-bottom: 4px;
 }
 .sider-link div{
  font-family: roboto,arial;
  font-size: 10px;
 }